@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('/fonts/Montserrat-Medium.ttf') format('truetype'),
    url('/fonts/Montserrat-Medium.woff') format('woff'),
    url('/fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('/fonts/Montserrat-Regular.woff') format('woff'),
    url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-weight: normal;
    src: url('/fonts/MaterialIconsSharp-Regular.otf') format('opentype'),
    url('/fonts/MaterialIconsSharp-Regular.woff2') format('woff2');
}

:root {
    font-family: Montserrat, sans-serif;
}

/* Misc */
:root {
    --transition: all .3s ease-in-out;
    --body-background: #f8f9f0;
    --grid-gap: .75em;
    --grid-gap-large: calc(var(--grid-gap) * 2);
    --grid-gap-small: calc(var(--grid-gap) / 2);
    --control-padding: var(--control-padding-y) var(--control-padding-x);
    --uniform-padding: 1.25em;
    --control-padding-compact: var(--control-padding-compact-y) var(--control-padding-compact-x);
    --control-padding-compact-x: calc(var(--control-padding-x) / 2);
    --control-padding-compact-y: calc(var(--control-padding-y) / 2);
    --control-padding-x: 1.25em;
    --control-padding-y: .75em;
    --border-radius: 2px;
    --box-shadow-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    --box-shadow-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    --box-shadow-3: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

/* Core */
:root {
    --core-100: #111111;
    --core-200: #2f330d;
    --core-300: #4d5509;
    --core-400: #6a7704;
    --core-500: #889900;
    --core-600: #a4b13c;
    --core-700: #c0c978;
    --core-800: #dce1b4;
    --core-900: #f8f9f0;
}

/* Gray */
:root {
    --mono-100: var(--core-100);
    --mono-200: #2e2e2d;
    --mono-300: #4b4b49;
    --mono-400: #686865;
    --mono-500: #858581;
    --mono-600: #a1a29c;
    --mono-700: #bebfb8;
    --mono-800: #dbdcd4;
    --mono-900: var(--core-900);
}

/* Alert */
:root {
    --alert-error-400: #a4171e;
    --alert-error-500: #da1e28;
    --alert-info-500: #fddc69;
    --alert-success-500: #198038;
    --alert-warning-500: #ff832b;
}

body {
    background-color: var(--core-900);
    color: var(--core-100);
    margin: 0;
    padding: 0;
}

input,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
