@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('/fonts/Montserrat-Medium.ttf') format('truetype'),
    url('/fonts/Montserrat-Medium.woff') format('woff'),
    url('/fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('/fonts/Montserrat-Regular.woff') format('woff'),
    url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'CutiveMono';
    font-weight: normal;
    src: url('/fonts/CutiveMono-Regular.ttf') format('truetype'),
    url('/fonts/CutiveMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-weight: normal;
    src: url('/fonts/MaterialIconsSharp-Regular.otf') format('opentype'),
    url('/fonts/MaterialIconsSharp-Regular.woff2') format('woff2');
}

:root {
    font-family: Montserrat, sans-serif;
}

/* Misc */
:root {
    --transition: all .3s ease-in-out;
    --body-background: #f8f9f0;
    --grid-gap: .75em;
    --grid-gap-large: calc(var(--grid-gap) * 2);
    --grid-gap-small: calc(var(--grid-gap) / 2);
    --page-header-height: 2.5em;
    --form-max-width: 30em;
    --page-navigation-width: 15em;
    --control-padding: var(--control-padding-y) var(--control-padding-x);
    --uniform-padding: 1em;
    --control-padding-compact: .125em;
    --control-padding-cozy: var(--control-padding-cozy-y) var(--control-padding-cozy-x);
    --control-padding-cozy-x: calc(var(--control-padding-x) / 2);
    --control-padding-cozy-y: calc(var(--control-padding-y) / 2);
    --control-padding-x: 1.25em;
    --control-padding-y: .75em;
    --border-radius: 2px;
    --box-shadow-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    --box-shadow-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    --box-shadow-3: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

/* Alert */
:root {
    --alert-error-400: #a4171e;
    --alert-error-500: #da1e28;
    --alert-info-500: #fddc69;
    --alert-success-500: #198038;
    --alert-warning-500: #ff832b;
}

@media (prefers-color-scheme: light) {
    /* Core */
    :root {
        --core-100: #111111;
        --core-200: #330d11;
        --core-300: #550911;
        --core-400: #770411;
        --core-500: #990011;
        --core-600: #b23e4a;
        --core-700: #cb7b83;
        --core-800: #e3b9bc;
        --core-900: #fcf6f5;
    }

    /* Gray */
    :root {
        --mono-000: #000000;
        --mono-100: var(--core-100);
        --mono-200: #2e2e2d;
        --mono-300: #4b4b49;
        --mono-400: #686865;
        --mono-500: #858581;
        --mono-600: #a1a29c;
        --mono-700: #bebfb8;
        --mono-800: #dbdcd4;
        --mono-900: var(--core-900);
        --mono-999: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    /* Core */
    :root {
        --core-100: #fcf6f5;
        --core-200: #e3b9bc;
        --core-300: #cb7b83;
        --core-400: #b23e4a;
        --core-500: #990011;
        --core-600: #770411;
        --core-700: #550911;
        --core-800: #330d11;
        --core-900: #111111;
    }

    /* Gray */
    :root {
        --mono-000: #ffffff;
        --mono-100: var(--core-100);
        --mono-200: #dbdcd4;
        --mono-300: #bebfb8;
        --mono-400: #a1a29c;
        --mono-500: #858581;
        --mono-600: #686865;
        --mono-700: #4b4b49;
        --mono-800: #2e2e2d;
        --mono-900: var(--core-900);
        --mono-999: #000000;
    }
}

body {
    background-color: var(--core-900);
    color: var(--core-100);
    margin: 0;
    min-width: 22.5em;
    padding: 0;
}

input,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
}

a,
a:link,
a:hover,
a:focus,
a:visited,
a:active {
    cursor: pointer;
    text-decoration: none;
}

a,
a:link,
a:visited {
    color: var(--core-300);
}

a:hover,
a:focus,
a:active {
    color: var(--core-500);
}

* {
    box-sizing: border-box;
}

#portal {
    position: relative;
    z-index: 1;
}
